<html>
    <head>
        <title>TAMUHack ChatBot</title>
        <link rel = "stylesheet" type="text/css" href="style.css"/>
    </head>
    <header>
        <h1>Check-In with American Airlines</h1>
    </header>
    <body>
        <form action="https://b8c853b6.ngrok.io/" method="POST">
            Full Name:<br>
            <input type="text" name="Name"><br>
            Phone:<br>
            <input type="text" name="Numba"><br>
            Departure Time:<br>
            <input type="time" name="Departure"><br>
            Estimated Time Arrival:<br>
            <input type="time" name="Arrival"><br>
            Home Address:
            <input type="text" name="Origin"><br>
            Destination:<br>
            <input type="text" name="Destination"><br>
            <input type="submit">
        </form>
    </body>
</html>